@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;700&family=Roboto+Slab:wght@100;200;400;500;600&display=swap');

:root {
    scroll-behavior: smooth;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto Slab', serif; */
    
}
body {
    font-family: var(--font-default);
    color: var(--color-default);
  }